@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.emoji{
  animation: waving-hand 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes waving-hand{
  0%{
    transform: rotate(0deg);
  } 
  10%{
    transform: rotate(14deg);
  }
  20%{
    transform: rotate(-8deg);
  }
  30%{
    transform: rotate(14deg);
  }
  40%{
    transform: rotate(-4.0deg);
  }
  50%{
    transform: rotate(10deg);
  }
  60%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }

}